<h1>Vends ton article !</h1>
  <div>
    <div class="row">
        <%= simple_form_for [@article], html: { class: 'article-form' } do |f| %>
          <%= f.input :name, label: "Nom de l'article" %>
          <%= f.input :categorie, label: 'Catégorie' %>
          <%= f.input :price, label: 'Prix' %>
          <%= f.input :color, label: "Couleur de l'article", as: :select, collection: ['Rouge', 'Bleu', 'Vert', 'Jaune', 'Noir', 'Orange', 'Rose', 'Fushia', 'Doré', 'Argenté', 'Marron', 'Gris clair', 'Gris foncé', 'Kaki', 'Pastel', 'Blanc'].sort %>
          <%= f.input :size, label: 'Taille' %>
          <%= f.input :brand, label: 'Marque', as: :select, collection: ['Adidas', 'Nike', "H&M", 'Zara', 'Bershka', 'Pull and Bear', 'Shein', 'Temu', 'Aliexpress', 'Camaieu', 'Jennyfer', 'Gemo', 'La Halle', 'Autre marque'].sort%>
          <%# <%= f.input :brand, label: 'Nom de la marque'  apparait si Autre marque selectionné %>
          <%= f.input :description, label: 'Description', input_html: { rows: 5 } %>
          <%= f.button :submit, "Ajouter l'article", class: 'btn-submit' %>
        <% end %>
    </div>
  </div>
